<!-- 模态框-->
<div class="modal fade" id="departmentModal" tabindex="-1" role="dialog" aria-labelledby="departmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="departmentModalLabel">
                    正在加载模态框标题
                </h4>
            </div>
            <div class="modal-body" id="departmentPreview">
                正在加内容
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" id="operateDepartment-btn">正在加载按钮功能</button>
            </div>

        </div>
    </div>

</div>

