<div class="modal fade" id="semesterCourseModal" role="dialog" aria-labelledby="semesterCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="semesterCourseModalLabel">
                    正在加载标题...
                </h4>
            </div>

            <div class="modal-body" id="semesterCoursePreview">
                <p>
                    <span id="modalbody-prefix"></span>
                    <span id="modalbody-content" class="text-info">正在加载年级专业个数...</span>
                    <span id="modalbody-suffix"></span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-success" id="confirmSet-btn">正在加载操作...</button>
            </div>
        </div>
    </div>
</div>
