<!-- 用于显示征订的教材的模态框-->
<div class="modal fade" id="courseBookInfoModal" tabindex="-1" role="dialog" aria-labelledby="courseBookInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog"  style="width:1500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="courseBookInfoModalLabel">
                    正在加载标题
                </h4>
            </div>
            <div class="modal-body" id="courseBookInfoPreview">
                        正在加载内容
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>

</div>


