<!-- 模态框-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalLabel">
                    正在加载模态框标题
                </h4>
            </div>
            <div class="modal-body" id="Preview">
                
                <form id="modalForm" method="post">
                   
                    <div class="form-horizontal" id="modalFormPlaceHolder">
                        正在加内容
                    </div>

                 </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" id="operate-btn">正在加载按钮功能</button>
            </div>

        </div>
    </div>

</div>

